html {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#logo {
  font-family: Arial, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  background-color: #FF9900;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #313131;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #FFCC00, #FF9900);
}

header {
  background-color: #FF6600;
  padding: 0.2rem;
  color: #FFFFFF;
}

main {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;
}

header ul.nav li {
  margin: 0 1rem;
  font-size: 1.2rem;
}

header ul.nav a {
  text-decoration: none;
  color: #FFFFFF;
}

header ul.nav a:hover {
  text-decoration: underline;
}

main {
  flex-grow: 1;
  padding: 2rem;
  background-color: #FFE6CC;
}

footer {
  background-color: #FF6600;
  padding: 1rem;
  color: #FFFFFF;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

.profile {
  text-align: center;
  margin: 20px;
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

li {
  display: inline-block;
  background: radial-gradient(circle, rgba(255, 204, 0, 1), rgba(255, 153, 0, 1));
  color: #313131;
  margin-right: 10px;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
  line-height: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: fadeColors 6s infinite;
}

li:hover {
  background: radial-gradient(circle, rgba(76, 175, 80, 1), rgba(56, 142, 60, 1));
  transform: scale(1.1);
}

@keyframes fadeColors {
  0% {
    color: rgba(204, 0, 255, 0.637);
  }
  50% {
    color: rgb(12, 190, 233);
  }
  100% {
    color: rgb(255, 100, 60);
  }
}


