html {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#logo {
  font-family: Arial, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #313131;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  padding: 0.2rem;
  color: #FFFFFF;
}

main {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;
}

header ul.nav li {
  margin: 0 1rem;
  font-size: 1.2rem;
}

header ul.nav a {
  text-decoration: none;
  color: #313131;
}

header ul.nav a:hover {
  text-decoration: underline;
}

@keyframes color-change-2x {
  0% {
      background: #19dcea;
  }
  100% {
      background: #b22cff;
  }
}

body {
  background-image: url("C:\Users\tabis\OneDrive\Desktop\vecteezy_felt-dark-green-soft-rough-textile-material-background_15234091_91.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


main {
  flex-grow: 1;
  padding: 2rem;
  animation: color-change-2x 9s linear infinite alternate both;
}


footer {
  background-color: #000000;
  padding: 1rem;
  color: #FFFFFF;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

.profile {
  text-align: center;
  margin: 20px;
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

li {
  color: #313131;
  padding: 15px;
  text-align: center;
  line-height: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: pulsateColor 2s infinite;
}

li:hover {
  transform: scale(1.1);
  color: #313131; /* Ensure text color remains consistent */
}

@keyframes pulsateColor {
  0% {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}


.container p {
  display: table;
  justify-content: center;
  align-items: center;
}

.scores-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.scores-list li {
  margin-bottom: 10px;
  border-radius: 12px;
  padding: 10px;
}

