{% extends 'base.html' %}
{% load static %}
{% block title %}High score at {{ block.super }}{% endblock title %}
{% block content %}
<h1><b>Game Room High Scores</b></h1>
<div class="container">
<ul class="scores-list">
    {% for player in top_players %}
    <li button class="w3-button w3-black w3-round-large w3-text-white"> {{ player.username }} - Total Score: {{ player.total_score }} - Average Ratio: {{ player.avg_ratio }}</li><br>
    {% empty %}
        <p>No Player high scores found</p>
    {% endfor %}
</ul>
</div>
{% endblock content %}
